################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/olympus defenders/Assets/Waypoints.cs
/olympus defenders/Assets/Waypoints.cs.meta
